footer{
    background-color: #212529;
    min-height: 30vh;
    max-height: 30vh;
}

.footer-text{
    color: rgb(197, 197, 197);
}
body{
    background-color:rgb(197, 197, 197)
}
a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color:#888888; 
    text-decoration:none; 
    cursor:pointer;  
}

#stats{
    text-decoration-line: underline;
}
